{% extends 'base.html.twig' %}

{% block  title %} les Biens {% endblock %}



{% block body %}

    

    <div class="container mt-4">
    <div class="row">
    <h1> les biens </h1>
    {% for property in properties %}
        
    
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href={{ path('property_show', {id: property.id, title: property.title}) }}> {{ property.title }} </a>
                    </h5>
                    <p class="card-text"> {{ property.description }} </p>
                    <div class="text-primary"> {{property.formatedPrice}} $</div>
                    
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>


{% endblock %}