{% extends "base.html.twig" %}

{% block  title %} Creer {% endblock %}


{% block body %}
    <div class="container mt-3 mb-3">
        <h1>Creer un nouveau bien</h1>

        {{ form_start(formu) }}
            {{ form_rest (formu) }}

            <button class="btn btn-primary">Creer</button>
        {{ form_end(formu) }}
{% endblock %}